<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="css/nav_bar.css">
</head>
<html>
    <div class="topnav" id="myTopnav">
      <a href="https://user.tjhsst.edu/2021kganotra/" class="active">Home</a>
      <a href="funpage">Fun page (numbers)</a>
      <a href="weatherForm">Weather App</a>
      <a href="funform">Fun Form (Madlibs)</a>
    </div>
    <h1>Madlibs</h1>
    <p>
        I was {{verb1}} at the {{place1}} the other day when I heard {{song}}
        come on the radio. I was feeling really {{adj1}} and I’m pretty sure I looked super {{adj2}} because {{friend}}
        walked in and almost {{verb2}}. Seriously, she {{verb3}} for close to {{time}}!

        This time every year I {{verb4}} all the time because I get really exciting thinking about holiday {{noun1}}! 
        That’s why I was sitting at the {{place2}}: I was really hoping {{relative}} would come by and give 
        me at least {{number}} pieces of holiday {{food}}!
    </p>
</html>